body {
    font-family: Verdana, Helvetica, sans-serif;
    color: #bdd;
    background: #255;
    padding: 0 5em;
    margin: 0
}

h1 {
    padding: 2em 1em;
    background: #577
}

h2 {
    color: #add;
    border-top: 1px dotted #fff;
    margin-top: 2em
}

a {
    color: #9ff
}

p {
    margin: 1em 0
}
